@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000; /* 완전 검은색 */
  color: #ffffff;            /* 글자는 흰색 */
  overflow-x: hidden;        /* 가로 스크롤 생김 방지 */
}